@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');


div {
    font-family: "Sunflower", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
  }